services:
  - type: web
    name: reviews-service
    env: docker
    plan: free
    envVars:
      - key: SPRING_DATASOURCE_URL
        value: jdbc:postgresql://ep-patient-credit-adceyqvj-pooler.c-2.us-east-1.aws.neon.tech:5432/neondb?sslmode=require
      - key: SPRING_DATASOURCE_USERNAME
        value: neondb_owner
      - key: SPRING_DATASOURCE_PASSWORD
        value: npg_GduJi8PA2vTb
      - key: PORT
        value: "10000"
      - key: JWT_SECRET
        value: mySecretKeyForJWTTokenGenerationThatIsAtLeast256BitsLong
      - key: EUREKA_CLIENT_ENABLED
        value: "true"
      - key: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
        value: https://gastroreview-eureka-447g.onrender.com/eureka/
      - key: EUREKA_INSTANCE_HOSTNAME
        value: gastroreview-reviews-1-mckp.onrender.com
